.PetDetails {
    margin: 20px 0;
    color: rgb(90, 10, 10) ;
  }
  
  .PetDetails h2 {
    margin-bottom: 8px;
    color:rgb(20, 19, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .PetDetails p {
    margin: 5px 0;
  }
  